/*======== GOOGLE FONTS =============*/

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ribeye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varta:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
/*======== VARIABLES CSS =============*/
:root {
  --header-height: 2.2rem;

  /*======== Colors =============*/
  --first-color: #ff9401;
  --first-color-light: #ffc75f;
  --first-color-alt: #fc8621;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #a6a6a6;
  --body-color: #fbfefd;
  --container-color: #fff;

  /*======== Font and Typography =============*/
  --title-font: "Julius Sans One", sans-serif;
  --body-font: "Varta", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smallest-font-size: 0.75rem;

  /*======== Font Weight =============*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*======== Margins =============*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*======== Z Index =============*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smallest-font-size: 0.813rem;
  }
}
/*======== BASE =============*/
*,
::before,
::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

/*======== Variables Dark Theme =============*/
body.dark-theme {
  --title-color: #654062;
  --text-color: #525353;
  --body-color: #b9fffc;
  --container-color: rgb(255, 255, 255);
    transition: all 1s;
}

/*======== Button Dark/Light =============*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;

}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.5;
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--title-font);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*======== Z Index =============*/

/*======== CLASS CSS =============*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.section-subtitle {
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

/*======== LAYOUT =============*/
.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
/*======== NAV =============*/
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}
/* Show menu */
.show-menu {
  top: var(--header-height);
}

/* Active menu */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(247, 121, 3, 0.5);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color-alt);
}

.scrolltop__icon {
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scrolltop */
.scroll-top {
  visibility: visible;
  bottom: 1.5rem;
}

/*======== HOME =============*/
.home__container {
  height: calc(100vh - var(--header-height));
  align-content: center;



  padding: 0 2rem;
}
.home__container1 {
  height: calc(100vh - var(--header-height));
  align-content: center;
}

.home .home__title {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Ribeye", cursive;
  color: var(--first-color);
  display: inline-block;
  color: transparent;
  margin-bottom: var(--mb-1);
  padding-top: 1rem;

  animation-name: moveInLeft;
  animation-duration: 2s;
  backface-visibility: hidden;

  background-image: linear-gradient(
    to right,
    var(--first-color-alt),
    var(--first-color-light),
    var(--first-color)
  );
  -webkit-background-clip: text;
}

/* @keyframes duration | timing-function | delay | name */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }
  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.home__subtitle {
  font-size: var(--h1-font-size);
  font-family: "Dancing Script", cursive;
  letter-spacing: 0.2rem;
  color: var(--title-color);
  margin-bottom: var(--mb-2);
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.too {
  transition: all 1.5s ease-out;
  position: relative;
  display: inline-block;

  animation: animate3 3s ease-in-out;
  animation-timing-function: linear;
  backface-visibility: hidden;
}
@keyframes animate3 {
  from {
    transform: scale(1);
    color: tomato;
  }
  to {
    transform: scale(2);
    margin-right: 1rem;
    color: orange;
  }
}
.home__img {
  width: 240px;

  justify-self: center;
  position: relative;
  z-index: 5;
  padding-bottom: 0.7rem;
}

.home__img.home {
  animation: animate2 3s forwards ease-in-out;
  animation-timing-function: linear;
  z-index: 10;
  backface-visibility: hidden;
}

@keyframes animate2 {
  0% {
    top: -400px;
    right: 20px;
  }
  20% {
    top: -200px;
    right: 180px;
  }
  40% {
    top: 0px;
    right: 80px;
  }
  60% {
    top: 200px;
    right: 0px;
  }
  80% {
    top: 60px;
    right: -50px;
  }
  100% {
    top: 0;
    right: 0;
  }
}

/*======== BUTTONS =============*/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.button:link,
.button:visited {
  text-decoration: none;
  padding: 0.7rem 1.2rem;
  display: inline-block;
  border-radius: 12px;
  transition: all 0.2s;
  position: relative;
  background-color: var(--first-color);
  color: #fff;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button-white {
  background-color: #c7ffd8;
  color: #777;
  border-radius: 12px;
}

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.button-white::after {
  background-color: #ffc478;
  border-radius: 12px;
}

.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.button-animated {
  animation: moveInBottom 0.5s ease-out 4s;
  animation-fill-mode: backwards;
}

.menu__content a.menu__button {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 3rem;

  padding: 0.813rem 0.813rem;
  border-radius: 0.5rem 0 0.5rem 0;
  margin-top: 0.5rem;
}
a.menu__button i {
  padding-top: 0.3rem;
  padding-left: 0.25rem;
}
/*======== ABOUT =============*/
.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: var(--mb-3);
}

.about__img {
  width: 280px;
  border-radius: 0.5rem;
  justify-self: center;
  position: relative;
  transition: all 2s ease-in-out;
}
.about__img:hover {
  transform: translate3d(100px, 100px, 100px);
}

.ame {
  color: red;
}

.ri {
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.8rem #333;
}

.can {
  color: blue;
}
/*======== SERVICES =============*/
.services__container {
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
  text-align: center;
}

.services__img {
  width: 64px;
  height: 64px;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
  transition: all 0.2s;
}

.services__title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__img:hover {
  transform: skewY(8deg) skewY(8deg) scale(1.3);
  background-color: turquoise;

  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
}

.services__img:last-child {
  background-color: red;
}

#services .services__content .services__description a {
  padding: 0rem 1.5rem;
  margin-top: 2rem;
}

/*======== MENU =============*/
.menu__container {
  grid-template-columns: repeat(1, 300px);
  justify-content: center;
}

.menu__content {
  position: relative;
  display: flex;

  flex-direction: column;
  background-color: var(--container-color);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 4px rgba(3, 74, 40, 0.15);
  padding: 0.75rem;
  transition: all 0.3s;
}

.menu__content:hover {
  transform: translateY(-1.2rem) scale(1.05);
}

.menu__content:active {
  margin: 20px 0px 20px 0px;

  /* offset-x | offset-y | blur-radius | color*/
  box-shadow: -0.5rem -0.5rem 5px var(--first-color);
}

.menu__img {
  width: 260px;
  align-self: center;
  margin-bottom: var(--mb-2);
}

.menu__name,
.menu__preci {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu__name {
  font-size: var(--normal-font-size);
}

.menu__detail,
.menu__preci {
  font-size: var(--small-font-size);
}

.menu__detail {
  margin-bottom: var(--mb-1);
}

.menu__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 0.625rem 0.813rem;
  border-radius: 0.5rem 0 0.5rem 0;
  box-shadow: none;
}
/*======== APP =============*/
.app__data {
  text-align: center;
}

.app__description {
  margin-bottom: var(--mb-3);
}

.app__stores {
  margin-bottom: var(--mb-4);
}

.app__store {
  width: 120px;
  margin: 0 var(--mb-1);
}

.app__img {
  width: 230px;
  justify-self: center;
}

.are {
  color: var(--first-color);
}
.image-container-stuff{
  padding-bottom: 1rem;
  margin-right: 5vw;
}
.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10vh;
}

.flex-div{
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
/*======== CONTACT =============*/
.contact__container {
  text-align: center;
}

.contact__description {
  margin-bottom: var(--mb-3);
}

/*======== FOOTER =============*/

.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description {
  display: block;
  font-size: var(--small-font-size);
  margin: 0.25rem 0 var(--mb-3);
}

.bbb {
  width: 50%;
  float: left;
  padding: .5rem;
  position: relative;
  right: 1rem;

}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

.counter {
  text-align: left;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 1.5rem;
}

/*======== MEDIA QUERIES =============*/

@media screen and (min-width: 275px) {
  .flex-container{
    bottom: 0;
  }

  .ddd{
    position: relative;
    top: -10vh;
  }
}
@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .app__container,
  .menu__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__data,
  .about__initial,
  .app__data,
  .app__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  }

  .about__img,
  .app__img,
  .menu__img {
    width: 380px;
    order: -1;
  }

  .contact__container {
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }

  .contact__button {
    justify-self: center;
  }


}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  
  .section {
    padding-top: 4rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container {
    height: 100vh;
    justify-content: center;
  }

  .home__img {
    width: 400px;
  }

  .services__container,
  .menu__container {
    margin-top: var(--mb-6);
  }

  .menu__container {
    grid-template-columns: repeat(3, 220px);
    column-gap: 2rem;
  }

  .menu__content {
    padding: 1.5rem;
  }

  .menu__img {
    width: auto;
  }

  .app__store {
    margin: 0 var(--mb-1) 0 0;
  }

  .app__img {
    width: 280px;
  }

  .footer__logo {
    padding-left: 2.2rem;
    padding-bottom: 1rem;
  }

  .footer__description {
    padding-left: 2.2rem;
    padding-top: 1rem;
  }

  .footer__social {
    padding-left: 1.8rem;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }


  .services__content {
    width: 350px;
  }

  .home__img {
    width: 500px;
  }

  .about__img {
    width: 700px;
  }

  .menu__container {
    grid-template-columns: repeat(3, 300px);
    column-gap: 4rem;
  }

  .menu__img {
    width: 270px;
  }

  .bbb {
    width: 90%;
  }

  .about__container,
  .app__container {
    column-gap: 7rem;
  }

  .footer__logo {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }

  .footer__description {
    padding-left: 1rem;
  }

  .footer__social {
    padding-left: 1.2rem;
  }
}

/*======== CALLAHEAD CSS =============*/
@media screen and (min-width: 285px) {
  .home__title {
    font-size: var(--h1-font-size);
    font-family: "Ribeye", cursive;
    color: var(--first-color);
    margin-bottom: 0;
  }

  .home__subtitles {
    font-size: var(--h2-font-size);
    font-family: "Libre Baskerville", serif;
    letter-spacing: 0.2rem;
    color: var(--title-color);
    padding-top: 0rem;
    margin-bottom: var(--mb-3);
  }

 

  .servicess__description {
    padding: 0rem;
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 768px) {
  .home__title {
    font-size: var(--biggest-font-size);
    font-family: "Ribeye", cursive;
    color: var(--first-color);
    margin-bottom: 0;
  }

  .home__subtitles {
    font-size: var(--h1-font-size);
    font-family: "Libre Baskerville", serif;
    letter-spacing: 0.2rem;
    color: var(--title-color);
    padding-top: 2rem;
    margin-bottom: var(--mb-3);
  }

  .home___img {
    width: 450px;
  }

  .servicess__description {
    padding: 0rem;
    margin-bottom: 0rem;
  }
}

/*======== EVENTS CSS =============*/

.home__subtitles {
  font-size: var(--h2-font-size);
  font-family: "Julius Sans One", sans-serif;
  letter-spacing: 0.2rem;
  color: var(--title-color);
  padding-top: 0rem;
  margin-bottom: var(--mb-3);
}

/*======== HOURS =============*/

.bd-gridd {
  display: flex;
  justify-content: center;
}

.home__imgg {
  width: 250px;

  margin-top: 1rem;
  margin-bottom: 1rem;

  padding-top: 3rem;
}

.home .home__title {
  font-size: 1.5rem;
}

.hours {
  text-align: center;
  font-size: var(--h4-font-size);
  font-family: "Julius Sans One", sans-serif;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .home__container {
    height: calc(100vh - var(--header-height));
    align-content: center;
    margin-top: 3rem;
  }

  .home__title {
    font-size: var(--h1-font-size);
    font-family: "Ribeye", cursive;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
  }

  .home__imgg {
    width: 300px;
    margin-left: 14%;
    margin-top: 1.5rem;
  }

  .hours {
    text-align: center;
    font-size: var(--h3-font-size);
    font-family: "Julius Sans One", sans-serif;
    margin: 0;
  }
}

/*** PRIVACY ***/
.home__titlez {
  font-size: var(--h1-font-size);
  font-family: "Ribeye", cursive;
  color: var(--first-color);
  margin-top: 2.5rem;
}

.about__descriptionz {
  margin-bottom: var(--mb-2);
}

.buttonz {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  margin-top: 0rem;
}

.home__imgz {
  width: 300px;
  justify-self: center;
}

/* BELOW HERE IS STYLING FOR COUNTER*/
